.formControlInside {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .ant-radio-wrapper {
        color: #fff !important;
    }

    .rowInside {
        .labelInside {
            color: #fff;
            margin-bottom: 8px;
        }

        .inputInside {
            width: 100%;

            input {
                background-color: transparent;
                outline: none;
                // border: 1px solid #f4e096;
                border: 1px solid #fff;
                padding: 8px;
                width: 100%;
                border-radius: 8px;
                color: #fff;
            }

            .errorInside {
                color: rgb(247, 72, 72);
                margin-top: 4px;
            }
        }
    }

    .btnInside {
        background-color: #f4e096;
        color: #000;
        border: 0;
        outline: none;
        border-radius: 6px;
        padding: 8px;
        margin-top: 16px;
        cursor: pointer;

        &:disabled {
            background-color: #3f3f3f;
            cursor: not-allowed;
        }
    }
}

.Form4FieldV3 {
    .title {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .formItem {
            .label {
                margin-bottom: 8px;
                font-weight: 600;
                font-size: 16px;
            }

            .errorMsg {
                margin-top: 4px;
                color: rgb(243, 63, 63);
                font-size: 14px;
            }

            .inputContainer {
                position: relative;

                .inputInside {
                    width: 100%;
                    padding: 13.5px 20px;
                    padding-right: 40px;
                    font-size: 16px;
                    outline: none;
                    border: 1px solid rgba(255, 255, 255, 0.7);
                    background-color: transparent;
                    border-radius: 8px;

                    &.isError {
                        border-color: rgb(243, 63, 63);
                    }
                }

                .eyeBtn {
                    position: absolute;
                    top: 50%;
                    right: 13px;
                    transform: translate(0, -50%);
                }
            }
        }

        .forgot {
            font-weight: 600;
            cursor: pointer;
        }

        .btnInside {
            background-image: linear-gradient(to bottom, var(--color-2-v3), var(--color-3-v3));
            color: #000;
            border-radius: 8px;
            padding: 18px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .noAccount {
            text-align: center;
            color: var(--color-15-v3);
            font-size: 18px;

            .sign {
                font-weight: 700;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
