// For config variables

// COLOR
$primary-color-1-v2: #f4e096;
$primary-color-2-v2: #f4e096;
$primary-color-3-v2: #f4e096;

// BACKGROUND COLOR
$bg-color-1-v2: #212121;
$bg-color-2-v2: #2a2a2a;
$bg-color-3-v2: #0e0e0e;

// HEADING
$heading-1-v2: 64px;
$heading-2-v2: 48px;
$heading-3-v2: 36px;
$heading-4-v2: 32px;
$heading-5-v2: 24px;
$heading-6-v2: 20px;

// TEXT
$text-1-v2: 20px;
$text-2-v2: 18px;
$text-3-v2: 16px;
$text-4-v2: 14px;
$text-5-v2: 12px;

// TEXT COLOR
$text-color-1-v2: #fff;
$text-color-2-v2: #f4e096;
$text-color-3-v2: #f4e096;
$text-color-4-v2: #f4e096;
$text-color-5-v2: #515251;
$text-color-6-v2: #000;

// WIDTH CONTAINER
$max-w-container-v2: 1160px;
$max-w-container-xl-v2: 1440px;
