.CardKYC {
    padding: 50px 0;

    .ant-steps {
        .ant-steps-item-icon {
            .ant-steps-icon {
                color: #fff;
            }
        }

        .ant-steps-item-content {
            .ant-steps-item-title {
                color: #fff !important;
            }
        }

        .ant-steps-item-active {
            .ant-steps-item-title {
                color: #cb9950 !important;
            }
        }

        .ant-steps-item-finish {
            .ant-steps-item-icon {
                .ant-steps-icon {
                    color: #f4e096;
                }
            }

            .ant-steps-item-content {
                .ant-steps-item-title {
                    color: #f4e096 !important;
                }
            }
        }
    }

    .inputInside {
        background-color: #2b2b2b;
        color: #fff;
        border: 1px solid #ccc;
        transition: all 0.3s ease-out;
        outline: none;
        font-size: 16px;
        padding: 6px 12px;
        width: 100%;
        border-radius: 4px;

        &:hover {
            border: 1px solid #f4e096;
        }
    }

    .btnsInside {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .btnInside {
        background-color: #f4e096;
        width: 100%;
        max-width: 320px;
        padding: 8px 24px;
        border-radius: 4px;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        // margin: 0 auto;
        text-align: center;
        outline: none;
        border: 0;
        display: block;

        &.disabled,
        &:disabled {
            cursor: not-allowed;
            background-color: #2b2b2b;
            color: #fff;
        }

        &.default {
            background-color: #2b2b2b;
            color: #fff;

            &.disabled {
                cursor: default;
            }
        }
    }

    .stepContent {
        color: #fff;
        margin-top: 30px;

        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }

        .step1 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .item {
                display: flex;
                padding: 12px;
                border: 1px solid #7a7a7a;
                border-radius: 4px;
                flex-direction: column;
                gap: 8px;
                transition: all 0.3s ease-out;

                @media screen and (min-width: 768px) {
                    align-items: center;
                    flex-direction: row;
                }

                &.invalid {
                    border-color: rgb(255, 94, 94);
                }

                .label {
                    // width: 100px;
                    color: #fff;

                    @media screen and (min-width: 768px) {
                        width: 150px;
                    }

                    .star {
                        color: red;
                    }
                }

                input {
                    outline: none;
                    border: 0;
                    font-size: 14px;
                    flex: 1;
                }

                .ant-radio-group {
                    .ant-radio-wrapper {
                        .ant-radio {
                            .ant-radio-inner {
                                background-color: #212121;
                            }
                        }
                    }
                }

                .ant-select {
                    .ant-select-selector {
                        background-color: #2b2b2b;
                        color: #fff;
                        border-color: #7a7a7a;
                    }

                    .ant-select-arrow {
                        color: #fff;
                    }
                }

                .ant-picker {
                    background-color: #2b2b2b;
                    color: #fff;
                    border-color: #7a7a7a;

                    .ant-picker-input {
                        input {
                            color: #fff;

                            &::placeholder {
                                color: rgb(112, 112, 112);
                            }
                        }

                        .ant-picker-suffix {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .step2 {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;

            @media screen and (min-width: 1024px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1024px) {
            }

            .item {
                display: flex;
                padding: 12px;
                border: 1px solid #7a7a7a;
                border-radius: 4px;
                flex-direction: column;
                gap: 8px;

                @media screen and (min-width: 768px) {
                    // align-items: center;
                    // flex-direction: row;
                }

                .label {
                    // width: 120px;
                    color: #fff;

                    @media screen and (min-width: 768px) {
                        // width: 150px;
                    }

                    .star {
                        color: red;
                    }
                }

                input {
                    outline: none;
                    border: 0;
                    font-size: 14px;
                    flex: 1;
                }

                .card {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 6fr 4fr;
                    gap: 16px;

                    span {
                        &:first-child {
                            width: 100%;

                            .ant-upload {
                                width: 100%;
                                display: flex;
                                justify-content: center;

                                @media screen and (min-width: 1024px) {
                                    justify-content: flex-start;
                                }

                                .containImg {
                                    width: 100%;

                                    // width: 100%;
                                    // display: grid;
                                    // grid-template-columns: 6fr 4fr;
                                    // gap: 16px;

                                    .placeholderImg {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }

                    .imgPreview {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .ant-upload-list-item {
                    &:hover {
                        .ant-upload-list-item-info {
                            background-color: #ffffff20;
                        }
                    }
                }

                .ant-upload-list-text {
                    display: none;

                    .ant-upload-span {
                        color: #fff !important;

                        .ant-upload-text-icon {
                            .anticon.anticon-paper-clip {
                                color: #fff !important;
                            }
                        }

                        .anticon-delete {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .step3 {
            margin: 0 auto;
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 16px;

            @media screen and (max-width: 768px) {
                border-top: 1px solid #7a7a7a;
            }

            .titleInside {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 15px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 30px;
                }
            }

            .fee {
                margin-bottom: 12px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 24px;
                }

                .highlight {
                    font-size: 32px;
                    font-weight: 400;
                }
            }

            .desc1 {
                margin-bottom: 12px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 24px;
                }
            }

            .items {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 16px;
                border-bottom: 1px solid #7a7a7a;
                width: 100%;
                margin-bottom: 12px;

                .item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .label {
                        text-align: start;
                        font-size: 14px;
                    }

                    .value {
                        font-size: 14px;
                        text-align: end;
                    }
                }
            }

            .available {
                align-self: flex-end;
                margin-bottom: 24px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 48px;
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .step4 {
        }
    }
}
