.DepositAmcAndHewe {
    color: #fff;

    .contentInside {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
