.cardDepositContainer {
    padding: 50px 0;

    .titleInside {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 8px;
        color: #fff;
    }

    .inputInside {
        background-color: #242424;
        color: #fff;
        border: 1px solid #ccc;
        transition: all 0.3s ease-out;
        outline: none;
        font-size: 16px;
        padding: 6px 12px;
        width: 100%;
        border-radius: 4px;
        &:hover {
            border: 1px solid #f4e096;
        }
    }

    .formDeposit {
        .sectionCoins {
            background-color: var(--color-1-v3);
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 16px;
            line-height: 1;
            border-radius: 12px;
            margin-bottom: 50px;

            .coins {
                gap: 16px;
                display: grid;
                grid-template-columns: 1fr 1fr;

                @media screen and (min-width: 425px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                .coin {
                    padding: 6px 12px;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    justify-content: center;
                    color: #f4e096;
                    border: 1px solid #f4e096;
                    border-radius: 6px;
                    background-color: transparent;
                    transition: all 0.3s ease-out;
                    font-weight: 500;
                    letter-spacing: 1px;
                    cursor: pointer;
                    user-select: none;

                    &:not(.selected):hover {
                        background-color: #00000090;
                    }

                    &.selected {
                        color: #000;
                        background-color: #f4e096;
                        cursor: default;
                    }

                    img {
                        width: 20px;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
        }

        .sectionDeposit {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #1a1a1a;
            color: #fff;
            border-radius: 12px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .rate {
                display: flex;
                justify-content: center;
            }

            .walletItem {
                display: flex;
                justify-content: center;
                gap: 8px;
            }

            .item {
                display: flex;
                padding: 12px;
                border: 1px solid #505050;
                border-radius: 4px;
                flex-direction: column;
                gap: 8px;

                @media screen and (min-width: 768px) {
                    align-items: center;
                    flex-direction: row;
                }

                .label {
                    width: 100px;
                    color: #fff;

                    @media screen and (min-width: 768px) {
                        width: 150px;
                    }

                    .star {
                        color: red;
                    }
                }

                input {
                    outline: none;
                    border: 0;
                    font-size: 14px;
                    flex: 1;
                }
            }

            .btnDeposit {
                background-color: #f4e096;
                width: 100%;
                padding: 8px 24px;
                border-radius: 4px;
                color: #000;
                font-weight: 600;
                cursor: pointer;
                margin: 0 auto;
                text-align: center;
                outline: none;
                border: 0;
                display: block;

                &.disabled,
                &:disabled {
                    cursor: not-allowed;
                    background-color: #2b2b2b;
                    color: #fff;
                }
            }
        }
    }
}
